<!--
put this in your gemfile:

# Font awesome
gem 'font-awesome-rails', '~> 4.7', '>= 4.7.0.2'

run:

$ bundle install

put in your application.css

*= require font-awesome

download assets in public folders

-->

<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <% # TITLE AND META TAGS %>
  
    <%= csrf_meta_tags %>
    <%= yield :title %>

    <% # STYLES %>

    <%= stylesheet_link_tag "admin" %>
    <%= yield :styles %>
    
    <% # HEAD SCRIPTS %>

    <%= javascript_include_tag "admin", 'data-turbolinks-track' => true %>
    <%= yield :head_scripts %>

  </head>

  <body>

    <div class="app-dashboard shrink-medium">
      
      <% # TOP BAR %>
      
      <div class="row expanded app-dashboard-top-nav-bar">

        <div class="columns medium-2 div-logo">
          <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>
          <a href="/admin" class="app-dashboard-logo"><i class="fa fa-cogs" aria-hidden="true"></i> Kbr - financeiro</a>
        </div>

        <div class="columns show-for-medium div-search">
          <div class="app-dashboard-search-bar-container">
            <input class="app-dashboard-search" type="search" placeholder="Search">
            <i class="app-dashboard-search-icon fa fa-search"></i>
          </div>
        </div>

        <div class="columns shrink app-dashboard-top-bar-actions div-logout">
          <button href="#" class="button hollow">Logout</button>
          <a href="#" height="30" width="30" alt=""><i class="fa fa-info-circle"></i></a>
        </div>

      </div>

      <% # PRINCIPAL DIV %>

      <div class="app-dashboard-body off-canvas-wrapper">

        <% # MENU %>

        <div data-turbolinks="false" id="app-dashboard-sidebar" class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>

          <div class="app-dashboard-sidebar-title-area">
            <div class="app-dashboard-close-sidebar">
              <h3 class="app-dashboard-sidebar-block-title">Menu</h3>

              <% # CLOSE BUTTON %>

              <button id="close-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-sidebar-close-button show-for-medium" aria-label="Close menu" type="button">
                <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-left"></i></a></span>
              </button>

            </div>
            <div class="app-dashboard-open-sidebar">
              <button id="open-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-open-sidebar-button show-for-medium" aria-label="open menu" type="button">
                <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-right"></i></a></span>
              </button>
            </div>
          </div>

          <div class="app-dashboard-sidebar-inner">
            <ul id="menu-principal" class="vertical menu accordion-menu" data-accordion-menu>
              <li>
                <a href="#"><i class="large fa fa-users"></i><span class="app-dashboard-sidebar-text">Clientes </span></a>
                <ul id="submenu-cars" class="menu vertical nested">
                  <li><a href="/clientes/adicionar"><i class="fa fa-plus" aria-hidden="true"></i><span class="app-dashboard-sidebar-text">Adicionar</span></a></li>
                  <li><a href="/clientes"><i class="fa fa-cog" aria-hidden="true"></i><span class="app-dashboard-sidebar-text">Gerenciar</span></a></li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="large fa fa-sticky-note-o" aria-hidden="true"></i><span class="app-dashboard-sidebar-text">Boletos </span></a>
                <ul id="submenu-cars" class="menu vertical nested">
                  <li><a href="/boletos/adicionar"><i class="fa fa-fire" aria-hidden="true"></i><span class="app-dashboard-sidebar-text">Gerar</span></a></li>
                  <li><a href="/boletos"><i class="fa fa-cog" aria-hidden="true"></i><span class="app-dashboard-sidebar-text">Gerenciar</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <% # CONTENT %>

        <div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
          
          <%= yield :header %>
          <hr>
          <%= yield %>
          
        </div>

      </div>
  
    </div>
    
    <% # BODY SCRIPTS %>
  
    <script src="/plugins/tinymce/tinymce.min.js"></script> 
    <%= yield :body_scripts %>

  </body>
</html>
